.header{
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: var(--white);
    &__row{
        display: flex;
        align-items: center;
        justify-content: space-between
    }
    &__row-inner{
        display: flex;
        align-items: center;
        column-gap: 40px;
    }
}
.header__btn:hover{
    box-shadow: 4px 4px 0px 0px rgb(0, 0, 0);
}