.logo{
    display: inline-block;
    background: url('./../../img/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 95px;
    width: 95px;
}