.price{
    padding-bottom: 150px;
}
.price__row{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 40px;
    padding-top: 200px;
}
.price__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 440px;
    row-gap: 35px;
    background-color: var(--blue);
    border: 2px solid #000;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 50px 30px 20px 30px;
    transition: all .3s ease;
}
.price__card:hover{
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.25);
}
.price__card:active{
    transform: scale(1.1);
}
.price__card--yellow{
    background-color: var(--yellow);
}
.price__card--pink{
    background-color: var(--pink);
}
.price__card-title{
    font-size: 2.25rem;
    text-align: center;
}
.price__card-item{
    font-size: 1.125rem;
}
.price__card-number{
    font-size: 1.25rem;
}